@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia.eot?#iefix') format('embedded-opentype'),  url('../fonts/Georgia.woff') format('woff'), url('../fonts/Georgia.ttf')  format('truetype'), url('../fonts/Georgia.svg#Georgia') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Georgia', serif;
}

h1 {
  @include responsive-font-heading-primary;
  text-transform: uppercase;
}

h2 {
  @include responsive-font-heading-primary;
  text-transform: uppercase;
}

p {
  font-size: $font-size-base;
}
