.front-slider {
  display: none;
  position: relative;
  box-shadow: $shadow-section-inset;

  @media (min-width: $screen-sm-min){
    display: block;
  }

  .slide__content {
    position: relative;
  }

  .slide__caption {
    position: absolute;
    right: 5em;
    bottom: 12%;
    max-width: 30%;

    @media (min-width: $screen-md-min) {
      bottom: 15%;
    }

    @media (min-width: $screen-lg-min) {
      right: 10rem;
    }
  }

  .slide__title {
    @include section-title;
    display: inline-block;
    float: right;
    padding: 1rem 2rem;
    background-color: $accent2;
  }

  .slide-description {
    clear: both;
    padding: 1rem 2rem;
    background-color: $bg_main;
  }

  .slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .slick-arrow {
    display: block;
    position: absolute;
    top: 50%;
    width: 32px;
    height: 55px;
    transform: translateY(-50%);
    appearance: none;
    font-size: 0;
    border: none;
    outline: none;

    &:focus {
      outline: none;
    }

    &.slick-prev {
      left: 1rem;
      background: url("../images/slider-arrow-left.png");
    }

    &.slick-next {
      right: 1rem;
      background: url("../images/slider-arrow-right.png");
    }
  }
}
