.slick--optionset--news {
  position: relative;
  max-height: 480px !important;

  .media--image .img-responsive {
    margin: auto;
  }

  .slick-arrow {
    display: none !important;

    @media (min-width: $screen-sm-min) {
      display: block !important;
      position: absolute;
      top: 50%;
      width: 32px;
      height: 91px;
      transform: translateY(-50%);
      appearance: none;
      font-size: 0;
      border: none;
      outline: none;
    }


    &:focus {
      outline: none;
    }

    &.slick-prev {
      left: 1rem;
      background: url("../images/slider-arrow-left.png");
    }

    &.slick-next {
      right: 1rem;
      background: url("../images/slider-arrow-right.png");
    }
  }
}
