//Colours
$accent1: #174089;
$accent2: #5087e8;
$bg_main: #ffffff;
$bg_alt:  #f1f4ff;
$text_highlight: #174089;
$text_muted: #b8bbc3;
$text_main: #434d53;
$text_alt: #ffffff;

//Typography
$font-size-base: 14px;
$font_size-heading-secondary: 24px;
$font_size-heading-secondary-mobile: 20px;
$font_size-reduced: 12px;
